body {
    font-family: 'Inter', sans-serif;
}

.Top-Banner {
    color: white;
    width: 600px;
    text-align: center;
    align-self: center;
    margin: 100px 400px 100px;
}

.Top-section {
    background-image: url(images/donation14.jpg);
    background-color: rgba(0, 0, 0, 0.247);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0%;
    padding: 10px 20px 10px;

}

h1 {
    font-size: 300%;
    margin-bottom: 1%;
}


.Donate-Now-Button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: orange;
    width: 130px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1%;
}

.Donate-Today {
    color: black;
    width: 600px;
    text-align: center;
    align-self: center;
    margin: 100px 400px 100px;
}

.Donate-Amount {
    display: flex;
}

.Amount {
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin: 10px 10px 10px;
    padding: 2%;
}

.Classy-Amount {
    background-color: rgb(252, 224, 189);
    width: 100%;
    margin: 10px 10px 10px;
    padding: 2%;
    color: red;
    border: 1px solid red;
}

hr {
    width: 100%;
}