body {
    font-family: 'Inter', sans-serif;
}

.Top-Banner {
    color: white;
    width: 600px;
    text-align: center;
    align-self: center;
    margin: 100px 400px 100px;
}

.Top-section {
    background-image: url(images/donation14.jpg);
    background-color: rgba(0, 0, 0, 0.247);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0%;
    padding: 10px 20px 10px;

}

h1 {
    font-size: 300%;
    margin-bottom: 1%;
}


.Donate-Now-Button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: orange;
    width: 130px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1%;
}

.Donate-Today {
    color: black;
    width: 600px;
    text-align: center;
    align-self: center;
    margin: 100px 400px 100px;
}

.Donate-Amount {
    display: flex;
}

.Amount {
    background-color: rgb(245, 245, 245);
    width: 100%;
    margin: 10px 10px 10px;
    padding: 2%;
}

.Classy-Amount {
    background-color: rgb(252, 224, 189);
    width: 100%;
    margin: 10px 10px 10px;
    padding: 2%;
    color: red;
    border: 1px solid red;
}

hr {
    width: 100%;
}

.Donate-Plan-Section {
    width: 1200px;
}

.Donate-Plan-Area {
    color: black;
    width: 600px;
    text-align: center;
    align-self: center;
    margin: 100px 400px 100px;
}

.Donate-Plan {
    display: flex;
}

.Food-for-family {
    width: 1200px;
    background-color: rgb(228, 243, 255);
    padding: 10px;
    margin: 10px 10px 10px 100px;
}

.Shelter-for-family {
    width: 1200px;
    background-color: rgb(247, 223, 242);
    padding: 10px;
    margin: 10px;
}

.Education-for-child {
    width: 1200px;
    background-color: rgb(255, 241, 219);
    padding: 10px;
    margin: 10px 0px 10px 10px;
}

.Contribute-Section {
    display: flex;
    align-items: center;

}

.half-width {
    width: 100%;
    margin: 60px 100px 20px
}

.half-width img {
    width: 93%;
    border-radius: 5px;
    margin-top: 50px;
}

.contribute-Button {
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: orange;
    width: 200px;
    height: 40px;
    font-size: 16px;
    font-weight: 600;
    margin-top: 1%;
}

.Update-Section {
    color: black;
    width: 600px;
    text-align: center;
    align-self: center;
    margin: 100px 400px 100px;
}

.form {
    width: 100%;
    margin-right: 0%;
    background-color: rgb(255, 241, 219);
    height: 70px;
    margin-top: 10%;
    padding-top: 40px;
}

.Email-type {
    background-color: rgb(228, 228, 228);
    border: none;
    border-radius: 3px;
    height: 25px;
}

.Subscribe-Button {
    text-decoration: none;
    border: none;
    border-radius: 3px;
    color: white;
    background-color: orange;
    width: 100px;
    height: 25px;
    font-size: 12px;
    font-weight: 400;
    margin-top: 1%;
}

.Footer-section {
    text-align: center;
    margin-top: 10px;
    padding: 10px;
    background-color: black;
    width: 100%;
}

.Footer-section p {
    font-size: small;
    color: blue;
}

h3 {
    color: red
}